[flake8]
max_line_length = 99

ignore =
	# Whitespace before : (conflicting with black, see https://black.readthedocs.io/en/stable/guides/using_black_with_other_tools.html)
	E203
	# Multiple statements on one line (def) : (conflicting with black, see https://black.readthedocs.io/en/stable/guides/using_black_with_other_tools.html)
	E704
	# Bare except
	E722
	# Line break occurred before a binary operator (conflicting with black)
    W503
	# line break after binary operator (conflicting with black)
    W504
