# Python artifacts
__pycache__/
*.py[cod]
*$py.class
.coverage
.coverage.*
.pytest_cache/

# Build directories
dist/
docs/build/

# Virtualenvs
.venv/
venv/
ENV/

# IDE config
.vscode/
/*.pyproj
/*.sln
.idea

# Backup files
*.bak

# CycloneDX json files except for those in the tests directory
*.cdx.json
!tests/**/*.cdx.json
