# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
  python: python3.11
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
        exclude: ^tests/auxiliary/.*
      - id: check-yaml
      - id: check-json
      - id: pretty-format-json
        args: [--autofix, --no-sort-keys]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.10
    hooks:
      # Run the linter.
      - id: ruff-check
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.19.1"
    hooks:
      - id: mypy
        # List type stub dependencies explicitly, as --install-types should be avoided as per
        # https://github.com/pre-commit/mirrors-mypy/blob/main/README.md
        additional_dependencies:
          - types-python-dateutil==2.9.0.20251115
          - typing-extensions==4.15.0
          - types-jsonschema==4.26.0.20260109
          - cyclonedx-python-lib==11.6.0
          - univers==31.1.0
          - charset-normalizer==3.4.4
          - natsort==8.4.0
          - docstring-parser==0.17.0
          - email-validator==2.3.0
        files: "^cdxev/.*\\.py$"
        args: ["--config-file", "pyproject.toml"]
  - repo: https://github.com/astral-sh/uv-pre-commit
    # uv version.
    rev: 0.8.3
    hooks:
      - id: uv-lock
