# This workflow will upload a Python Package using Twine when a release is created
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python#publishing-to-package-registries

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Pre-release Python Package

on:
  release:
    types: [prereleased]

permissions:
  contents: write

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Install poetry
        run: pipx install poetry
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          cache: 'poetry'
      - run: |
          poetry config virtualenvs.in-project false
          poetry config cache-dir ~/cache/.poetry
          poetry config repositories.testpypi https://test.pypi.org/legacy/
          poetry config pypi-token.testpypi ${{ secrets.API_TOKEN_TEST_PYPI }}
          poetry version ${{ github.ref_name }}
      - name: Create PR
        uses: peter-evans/create-pull-request@v5
        with:
          title: Change version in pyproject.toml
      - name: Publish package
        run: poetry publish --build -r testpypi
