# This workflow will upload a Python Package using Twine when a release is created
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python#publishing-to-package-registries

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Pre-release Python Package

on:
  release:
    types: [prereleased]

permissions:
  contents: read

jobs:
  deploy:

    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write  # IMPORTANT: this permission is mandatory for trusted publishing
    environment:
      name: testpypi
      url: https://test.pypi.org/project/cyclonedx-editor-validator/
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: '3.10'
      - name: Install uv
        uses: astral-sh/setup-uv@4959332f0f014c5280e7eac8b70c90cb574c9f9b # v6.6.0
        with:
          enable-cache: true
          version: "0.8.3"
      - name: Install dependencies and set version from release tag
        run: |
          uv version ${{ github.ref_name }}
          uv sync --no-dev --frozen
      - name: Build package
        run: |
          uv version --dry-run
          uv build
      - name: Publish package distributions to TestPyPI
        uses: pypa/gh-action-pypi-publish@76f52bc884231f62b9a034ebfe128415bbaabdfc # release/v1
        with:
          repository-url: https://test.pypi.org/legacy/
          attestations: false
